/*
rgba(39,47,55,255)
rgba(231,232,226,255)

*/

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{ 
  background-image: url(../_906d2035-b436-4a18-b8c3-3c75e6ef8171.jpg);
  background-position: center;
background-position: top right;
background-position: 120px 850px;
}
/* Menu */
.menu {
  background-color: rgb(230, 235, 234);
  width: 413.5px;
  align-items: center;

}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  padding: 15px 20px;
  color: rgb(36,44,52);
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #555;
  color: darkgoldenrod;
}
/*FIM MENU*/

/*INICIO MAIN*/
.main{
    height: 380px;
    display: flex;
    align-items: center;
    padding-left: 30px
}

.main h1{
    color: #ffffff;
    font-size: 45px;
    
    margin-bottom: 10px;
}

.main p{
    color: goldenrod;
    font-size: 24px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 30px;
}

.call-to-action{
    background-color:#ffffff;
    border: 0;
    border-radius: 4px;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: 0.9s;
}

.call-to-action:hover{
    transform: scale(1.2);
}

.main a{
    text-decoration: none;
    color: #181818;
}
/*FIM MAIN*/

/*INICIO SOBRE*/
.about{
  background-color: rgba(231,232,226,255);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%;
    margin-right: 40px;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}

.about div h2{
    font-size: 42px;
    margin-bottom: 14px;
}

.about div p{
    font-size: 20px;
}
/*FIM SOBRE*/